body {
    margin: 25px;
    background-color: aliceblue;
    font-family: arial, sans-serif;
    font-size: 16px;
}

th {
    text-align:left
}

footer {
    margin-top:20px;
    bottom:0;
    height:auto;
    width:100%;
    text-align:center
}
